<ul class="pagination justify-content-center" style="margin-left: 18rem">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.previous_page_number }}">&laquo;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true">&laquo;</a>
    </li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="page-item active" aria-current="page">
        <a class="page-link">{{ i }}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="?{% if query %}{{ query }}&{% endif %}page={{ i }}">{{ i }}</a>
    </li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.next_page_number }}">&raquo;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true">&raquo;</a>
    </li>
    {% endif %}
</ul>

